*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(243, 243, 243);

}
.title{
    color: #333;
}

.ul{
    list-style: none;
    margin-top: 30px;
}
.li{
    color: #333;
    padding: 20px;
}